#header-img{
    display: block;
    max-width:100px;
    max-height:95px;
    width: auto;
    height: auto;
    margin-left: 30px;
    border-radius: 50%;
}

/* body, html{
    background-color: rgb(255, 246, 196);
    height: 100%;
} */

html, body{
    padding: 0;
    margin: 0;
    background-color: rgb(255, 246, 196);
  }
  html{
    height: 100%;
  }
  body{
    min-height: 100%;
  }


@font-face {
    font-family: 'MyFont';
    src: url('./Tomatoes-O8L8.ttf') format('truetype')
  }

h1{
    font-family: 'MyFont';
}

#tag{
    font-family: 'MyFont';
    margin: .1rem;
    margin-left: 20px;
}

header{
    display: flex;
    width: 100%;
    height: 60px;
    align-items: center;
    margin-left: 10px;
    margin-top: 10px;
}

body{
    display: flex;
    flex-direction: column;
}

#body_container{
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.509);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
    margin-left: 100px;
    margin-right: 100px;
    border-width: 10px;
    margin-bottom: 100px;

}

.testimony_copy{
    border-style: solid;
    border-color: rgb(173, 167, 134);
    max-width: 300px;
    padding: 10px;
    margin: 5px;
}

#hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

#tabs{
    display: flex;
    justify-content: space-around;
    flex: 1;
    max-width: 200px;
}

#tabs>div>p{
    font-family: 'MyFont';
}

.wrap{
    display: block;
    max-width:100px;
    max-height:95px;
    width: auto;
    height: auto;
    margin-left: 30px;
    border-radius: 50%;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
    margin-top: 50px;
  }